:root{
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--Dark-Blue);
}
.container{
    width: 92%;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 30%;
}
.card{
    border-radius: 0.6rem;
    background-color: var(--Dark-Grayish-Blue);
    padding: 32px 13px;
    text-align: center;
}
.advice{
    color: var(--Neon-Green);
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 1.5rem;
}
.advice-num{
    margin-left: 1rem;
}
.para{
    font-size: 25px;
    color: var(--Light-Cyan);
    line-height: 1.4;
    margin-bottom: 1.4rem;
}
.image{
    background-image: url("images/pattern-divider-mobile.svg");
    height: 16px;
    background-position: center;
    margin-bottom: 2rem;
}
.btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--Neon-Green);
    padding: 21px;
    width: 70px;
    border: none;
    aspect-ratio: 1/1;
    overflow: hidden;
    top: -36px;
}
.btn img{
    width: 100%;
}
.transition{
    transition: 0.4s ease;
    transform: rotate(180deg);
}
.btn:hover{
    box-shadow: 0px 0px 25px var(--Neon-Green);
    cursor: pointer;
}
@media(min-width:600px){
    .container{
        width:570px;
        margin-top: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .para{
        font-size: 32px;
    }
}